Desktop*
fundos/
icones/*
Dados/*
glossario.docx*
nomenclaturaTUC.png*
*.pdf
perdas_teste*
bazefieldenvision*
Perdas.pbix
perdas_TUC.ipynb_
*INV*
_/*
Nova pasta/
output/consolidado.xlsx
output/antigos/